/* Style Settings */

/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --bgColor: #fffff7;
	--accentColor: #3D3B3C;
    --font: 'Karla', sans-serif;
}

body{
    cursor: url("/cursor/Normal.cur"), auto;
    background-color: var(--bgColor);
}

#userPhoto{
	cursor: url("/cursor/Move.cur"), auto;
    width: 128px;
    height: 128px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName{
	color: #898F9C;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.header {
	position: right;
	text-align: right;
}

div.split3 div {
    float: left;
    width: 33.3%;
}

div.splitCV div {
	margin:auto;
    width: 33.3%;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    cursor: url("/cursor/Link.cur"), auto;
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
	font-weight: bold;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
}

.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.footer {
	position: fixed;
	bottom: 4%;
	left: 2%;
    right: 2%;
}

.creator {
    float: left;
}

.users {
	float: right;
}
